.app-guess__list {
    padding: 0.7em;
    margin: 0.5em 0;
    font-weight: bold;
    height: 51vh;
    overflow-y: auto;
}
.app-guess__title {
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
}

.app-guess__item {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.1em
}
/* 
.submit {
    margin: 0.2em
} */
.app-typearea {
    
    width: 100%;
}

.app-textarea {
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
}