<div class="game-component-border">
  <p class="app-guess__title">Your Guesses</p>
  <div class="app-guess__list">
    <p
      class="app-guess__item"
      *ngFor="let answer of wrongAnswersList"
      [ngClass]="{'wrong-answer': answer.isWrong, 'right-answer': !answer.isWrong}">
      {{ answer.text }}
    </p>
  </div>
  <input
    class="app-textarea"
    type="text"
    placeholder="Your guess here"
    [(ngModel)]="answerInput"
    (keydown.enter)="onAnswerGiven()"
  />
  <!-- Enviar com a tecla Enter -->
  <button class="btn-primary btn-primary-cta submit" (click)="onAnswerGiven()" [disabled]="!isGameInProgress">
    Send
  </button>
</div>
