<div class="game-component-border">
    <p class="app-guess__title">Your hints here</p>
    <div class="app-guess__list">
        <!-- Previous hints goes here -->
        <p class="app-guess__item" *ngFor="let answer of wrongAnswersList">
            {{answer}}
        </p>
    </div>
    <form class="app-typearea" (ngSubmit)="onAnswerGiven()" #form="ngForm">
        <input class="app-textarea" type="text" placeholder="Your guess here" [(ngModel)]="answerInput">
        <p type="submit" class="btn-primary btn-primary-cta submit">Send</p>
    </form>
</div>