.container {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.app-title {
    font-family: sans-serif;
    margin-bottom: 3em;
    text-align: center;
    font-size: x-large;
}

.app-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.app-help {
    text-align: center;
} 