<div class="container">
    <div class="app-title">
        <h2 class="app-title__header">Country guesser</h2>
        <p class="app-title__subtitle">Can you guess the country with as few hints as possible?</p>
    </div>
    <div class="main-menu">
        <button class="btn-primary btn-primary-cta" routerLink="/game">New Game</button>
        <button class="btn-primary">How to Play</button>
        <button class="btn-primary">Edit Hints</button>
        <button class="btn-primary">About</button>
    </div>
</div>