/* Estilo do container de respostas */
.game-component-border {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 16px;
    margin: 0px 0.25em;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título da lista de dicas */
.app-hints__title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    color: #2c3e50;
}

/* Lista de respostas erradas */
.app-hints__list {
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    height: 45vh;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Itens de respostas erradas */
.app-hints__item {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 12px;
    margin: 5px 0;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.app-hints__item:hover {
    background-color: #f1f1f1;
}

/* Campo de entrada de texto */
.app-textarea {
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 1em;
}

/* Botão de envio */
.btn-hint {
    padding: 12px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

.btn-hint:hover {
    background-color: #2980b9;
}


.btn-primary[disabled] {
    background-color: #bdc3c7; /* Cor de fundo mais clara para indicar desabilitado */
    color: #7f8c8d; /* Cor do texto alterada para combinar com o estilo desabilitado */
    cursor: not-allowed; /* Cursor de não permitido */
    opacity: 0.6; /* Torna o botão visualmente mais transparente */
}