.app-hints {
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
}

.app-hints__item {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}