<div class="game-component-border">
    <div class="app-hints__list">
        <p 
            class="app-hints__title">
            You have {{getHintsRemaining()}} hints remaining</p>
            <img class="app-hints__flag" 
                width="30%"
                [hidden]="false" 
                src="https://flagcdn.com/w320/br.png">
        <article 
            class="app-hints__item" 
            *ngFor="let hint of askedHints; let i = index">
            {{i + 1}} - {{hint}}
        </article>
    </div>
    <button 
        class="btn-primary" 
        (click)="onNewHintAsked()" 
        [disabled]="!this.hideFlag">
            Give me a hint
    </button>
    <!-- <button (click)="this.showFlag=!this.showFlag">Show flag</button> -->
</div>