<div class="game-component-border">
    <p class="app-hints__title">Your Hints</p>
    <div class="app-hints__list">
        <article
        class="app-hints__item"
        *ngFor="let hint of askedHints; let i = index"
      >
        <span class="hint-number">{{ i + 1 }}</span> -
        <span class="hint-text">{{ hint }}</span>
      </article>
    </div>
    <button 
    class="btn-primary btn-hint" 
    (click)="onNewHintAsked()" 
    [disabled]="getHintsRemaining() === 0">
      Give me a hint
    </button>
  </div>
  