.game-window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    margin: 0vh 15vw
}

.game-window > * {
    flex-grow: 1;
    flex-basis: 0;
}

.navbar {
    margin-bottom: 2em;
    margin-top: 1em;
}