/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary {
    margin: 2px;
    padding: 5px 10px 5px 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    color: lightseagreen;
    cursor: pointer;
}
.btn-primary:hover {
    transform: scale(1.2);
    transition: all 200ms;
}

.btn-primary:disabled {
    color: #b2d9d6;
    cursor: default;
    border: 0px;
}

.btn-primary-cta {
    color: white;
    background-color: lightseagreen;
}
.container {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}
